.idea
*.exp
*.lib
*.log
*.reg
reset_git.cmd
cmake-build-debug
/hyperdbgui.exe
/binaries-bin.zip
/hyperdbg-v0.9.1.zip
HyperDbg.exe
/cache/
gui_old_unison.tar
/sdk/bindgen/bug/
/sdk/bindgen/c2go/
/sdk/bindgen/cpp2go/
/sdk/bindgen/project/
/sdk/bindgen/todo/
/sdk/bindgen/cpp2go/
/sdk/ddk/bad
/sdk/ddk/worker/vstart/
/sdk/ddk/worker/taskmanager/
/sdk/ddk/worker/struct2table/
/sdk/ddk/worker/manpiecework/
/sdk/ddk/worker/keygen/
/sdk/ddk/worker/jsontree/
/sdk/ddk/worker/godoc/
/sdk/ddk/worker/DecodeRaw/
/sdk/ddk/worker/BuyTomatoes/
/sdk/bindgen/dll/bug/
HyperDbg.tar
initial commit.cmd
#git tag v0.0.5